/* *** Form *** */
.form {
  width: 800px;
  height: fit-content;
  border: 1px solid gray;
  padding: 60px;
  margin: 0 auto 50px;
  box-sizing: border-box;
}
.form .title {
  font-size: 25px;
  color: rgb(55, 55, 55);
  margin-bottom: 70px;
}
.form label {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  color: rgb(55, 55, 55);
}
.form textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 120px;
  border: 1px solid gray;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 17px;
  margin-bottom: 40px;
}
.form #photo {
  width: 100%;
  margin-bottom: 40px;
}
input[type="file" i] {
  border: none !important;
  cursor: default;
}
input[type="file" i]::-webkit-file-upload-button {
  margin: 0 10px 0 0;
  _background-color: rgb(32, 161, 241);
  height: 40px;
  padding: 10px 20px;
  border: none;
  _border-radius: 3px;
  font-size: 15px;
  _color: white;
}
.submit-btn {
  background-color: rgb(2, 160, 2);
  margin-left: auto;
}

@media screen and (max-width: 850px) {
  .form {
    width: 90%;
    padding: 40px 30px;
  }
  .form .title {
    font-size: 24px;
  }
  .form textarea {
    min-height: 200px;
  }
}
