.grid-container {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(5, 250px);
  grid-auto-rows: minmax(250px, auto);
  text-align: center;
  grid-gap: 10px;
  margin: 0 auto;
}

.grid-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 1250px){
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: minmax(250px, auto);
  }
}

@media screen and (max-width: 850px){
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 180px);
    grid-auto-rows: minmax(180px, auto);
  }
}

@media screen and (max-width: 400px){
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    grid-auto-rows: minmax(170px, auto);
  }
}
