@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-text {
  font-size: 18px;
  color: rgb(55, 55, 55);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(148, 148, 148);
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(148, 148, 148);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(148, 148, 148);
}

@media screen and (max-width: 800px) {
  .wrapper {
    padding: 4.7rem 1rem 0;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 4.1rem 0.5rem 0;
  }
}
