@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}

.App {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  padding: 80px 0 0;
  margin: 0 auto;
}
.btn {
  cursor: pointer;
  display: flex;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  color: white;
}
.help-text {
  font-size: 18px;
  color: rgb(55, 55, 55);
}
.start-text {
  width: fit-content;
  margin: 80px auto 0;
  font-size: 25px;
  line-height: 2.3rem;
  text-align: center;
  color: rgb(55, 55, 55);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(148, 148, 148);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(148, 148, 148);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(148, 148, 148);
}


@media screen and (max-width: 600px){
  .start-text {
    font-size: 24px;
    width: 250px;
  }
  
}









