/* **** Navigation **** */
.nav {
  display: flex;
  gap: 2rem;
  position: fixed;
  background-color: rgb(22, 38, 101);
  padding: 1.25rem 5%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 2;
}
.nav_btn {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.nav_btn a {
  color: white;
  text-decoration: none;
}
.nav_btn a.active {
  font-weight: 500;
}

@media screen and (max-width: 400px) {
  .nav {
    padding: 1.25rem 3%;
    justify-content: center;
  }
}
