/* **** Navigation **** */
.nav {
  padding: 1.25rem 5%;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: rgb(22, 38, 101);
  position: fixed;

  left: 0;
  right: 0;
  z-index: 2;
}
.nav_btn {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.nav_btn a {
  color: white;
  text-decoration: none;
}
.nav_btn a.active {
  font-weight: 500;
}
