/* **** Navigation **** */
.nav {
  padding: 1.25rem 5%;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: rgb(22, 38, 101);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.nav_btn {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav_btn a {
  color: white;
  text-decoration: none;
}

.active {
  font-weight: 500;
}
