.vertical_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
}

.photo {
  width: 100%;
  margin-bottom: 0.5rem;
}

.divider {
  border-bottom: 1px solid lightgray;
}

.close_icon_verticalList {
  font-size: 30px;
  color: white;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 5;
}
