.vertical-list {
  width: 100%;
  position: absolute;
  top: 0;
  height: fit-content;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

.photo-box:last-of-type{
  padding-bottom: 15%;
}

.photo-item {
  width: 100%;
}

.photo-item img {
  width: 100%;
}

.divider {
  width: 100%;
  margin: 0 0 80px;
  border-bottom: 1px solid lightgray;
}

.close-icon-verticalList {
  font-size: 30px;
  color: white;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 2;
}