.vertical_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 11.2rem;
}

.photo_item {
  margin-bottom: 1rem;
}

.photo_item img {
  width: 100%;
}

.divider {
  border-bottom: 1px solid lightgray;
}

.close_icon_verticalList {
  font-size: 30px;
  color: white;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 2;
}
